{% extends 'news/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="lobby clearfix">
	<div class="container">
		<div class="lobby-head">
			<img class="indian-img" src="{% static 'img/ind.jpeg' %}" alt="Индеец" width="380" heigth="380">
		</div>
		<div class="table-responsive ">	
			<table class="table">
				<tr>
					<th>Название</th>
					<th>Создатель</th>
					<th>Игроки</th>
					<th>Статус</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				{% for game in games %}
				<tr>
					<td>{{game.title}}</td>
					<td>{{game.author.username}}</td>
					<td>{{game.total_players}}/{{game.maxPlayers}}</td>
					<td>{{game.status}}</td>
					{% if user.is_authenticated %}
						<td><a href="{% url 'add_player' pk=game.pk %}">Войти</a></td>
					{% else %}
					{% endif %}
					{% if game.author.username == user.username %}
					<td><a href="{% url 'game_remove' pk=game.pk %}">Удалить</a></td>
						{% if game.total_players == game.maxPlayers %}
						<td><a href="{% url 'game_remove' pk=game.pk %}">Начать игру</a></td>
						{% else %}
						{% endif %}
					{% else %}
					{% endif %}
				</tr>			
				{% endfor %}
			</table>		
		</div>
		{% if user.is_authenticated %}
		<a href="{% url 'game_new' %}">Создать игру</a>
		{% else %}
		{% endif %}
	</div>
</div>
{% endblock %}